@import "compass";
@import "font-awesome/font-awesome";
@import "normalize";
@import "rouge.css";
@charset "UTF-8";

$logo-img: 'logo.png';
$logo-img-2x: 'logo-2x.png';
$max-width: 760px;
$padding: 20px;

$text-color: #403E3F;
$title-color: #FFF;
$header-color: #FF3366;
$alt-header-color: #403E3F;
$link-color: #B2174F;
$visited-color: #B2174F;
$code-bg-color: lighten(#E8E8E8, 5%);
$code-border: #D4D4D4;

body {
  background-color: #FFFEFC;
  color: $text-color;
  font-family: ff-tisa-sans-web-pro;
  font-size: 16px;
  line-height: 1.5em;
}

h1,h2,h3,h4 {
  line-height: 1.2em;
  color: $alt-header-color;
}

h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.1em;
  font-weight: 700;
  a {
    color: $text-color;

    &:hover {
      color: $link-color;
    }
  }
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

p {
  margin: 1.2em 0;
}

a {
  color: $link-color;
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

img {
  /* make sure images don't get too big on mobile */
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote {
  margin: 0em 18px;
  padding: 1px 18px;
  border-left: solid 10px $code-border;
  background: $code-bg-color
}

section {
  margin-bottom: 2em;
}

*:target {
  background: lighten($header-color, 20%);
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $padding;
}

header {
  @include clearfix;

  background-color: $header-color;
  margin-bottom: 30px;

  a {
    color: $title-color;

    &:hover {
      color: $alt-header-color;
      text-decoration: none;
    }
  }

  h1 {
    background: image-url($logo-img) no-repeat;
    background-size: 100px 100px;
    font-size: 60px;
    height: 100px;
    line-height: 1.6em;
    margin: 0 auto;
    padding-left: 110px;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: image-url($logo-img-2x);
    }

    a:hover {
      color: $title-color;
    }
  }

  .footer-only {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  header {
    h1 {
      background-size: 55px;
      font-size: 40px;
      height: 65px;
      line-height: 1.4em;
      padding-left: 65px;
      width: 100%;
    }

    nav {
      margin-top: 0;
      padding-left: 0;
      text-align: center;
      width: auto;
    }
  }

  header, footer {
    .container {
      padding: 0;
    }
  }
}

nav {
  ul {
    margin: 0 0 0 -8px;
    padding: 0;
  }

  li {
    @include inline-block;

    a {
      margin: 0 5px;
      padding: 10px 8px;
    }
  }

  a {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  nav {
    li {
      a {
        margin: 0 4px;
        padding: 10px 4px;
      }
    }
  }
}

.social {
  li {
    line-height: 1.2em;
    margin-bottom: 0.8em;
  }

  a {
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }
}

.social-nav {
  font-size: 30px;

  li {
    margin-left: 15px;

    @include inline-block;
  }
}

footer {
  background: $header-color;
  clear: both;
  margin-top: 50px;

  @include clearfix;

  ul {
    float: left;
    margin: 0;
    padding: 0.5em 0;
  }

  nav ul {
    float: right;
    font-size: 16px;
  }

  a {
    color: $title-color;

    &:hover {
      color: $alt-header-color;
    }
  }
}

.pagination {
  margin-right: 1em;
}

pre {
  padding: 0;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

.highlight, code {
  background-color: $code-bg-color;
}

/* media specific styles */
.youtube {
  height: 315px;
  width: 560px;

  @media screen and (max-width: 600px) {
    height: 150px;
    width: 200px;
  }
}


.article-date {
  float: left;
  margin-right: 1em;
}

.article-details {
  color: #877F7F;
  font-size: 0.9em;
  line-height: 1.3em;

  @include clearfix;
}

.writing {
  ul {
    list-style: disc;
    padding: 0 0 0 30px;
  }
}

/*
 * Writing helpers
 */
.internal-link {
  color: darken($link-color, 10%);
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.screenshot {
  border: solid 1px $code-border;
  border-radius: 10px;
}

.slide {
  @include clearfix;
  margin-bottom: 50px;

  img {
    border: solid 1px $code-border;
    float: left;
    margin-right: 2%;
    width: 45%;

    @media screen and (max-width: 750px) {
      width: 95%;
    }
  }

  div {
    float: left;
    padding-top: 10px;
    width: 45%;

    @media screen and (max-width: 750px) {
      width: 95%;
    }
  }

  iframe {
    float: left;
    padding-top: 10px;

    @media screen and (max-width: 750px) {
      width: 95%;
      height: 95%
    }
  }

  p {
    margin: 0 0 0.7em 0;
  }
}
