<% version ||= 'short' %>

<p>Greg Burek is a systems and infrastructure engineer at Heroku, currently on
the Postgres team. Maintainer of too many buildpacks.</p>

<p>Recent projects include adopting Packer as a standardized AMI build tool,
developing a continuous benchmarking platform for Postgres, moving to HVM
virtualized EC2 instances, cursing at queues, saying sweet nothings to Sidekiq,
adopting docker to build binaries that work on Heroku and loving/hating EBS.</p>
