<footer>
  <div class="container">
    <ul class="social-nav">
      <li>
        <a href="https://twitter.com/gregburek">
          <i class="fa fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <%= link_to "<i class=\"fa fa-rss-square\"></i>", "/feed.xml" %>
      </li>
    </ul>
    <%= partial "partials/nav" %>
  </div>
</footer>
