---
title: About
---

<article>
  <h1>About</h1>
  <section>
    <%= partial "partials/bio" %>
  </section>
  <section>
    <h2>Contact me</h2>
    <p>You can contact me via <a href="mailto:greg@gregburek.com">my email</a>
      for general inquiries.
  </section>
  <section>
    <h2>Where to find me</h2>
    <ul class="social fa-ul">
      <li>
        <a href="https://twitter.com/gregburek">
          <i class="fa-li fa fa-twitter"></i>Twitter
        </a>
      </li>
      <li>
        <a href="https://github.com/gregburek">
          <i class="fa-li fa fa-github-alt"></i>GitHub
        </a>
      </li>
      <li>
        <a href="http://lanyrd.com/profile/gregburek/">
          <i class="fa-li fa fa-map-marker"></i>Lanyrd
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/gregburek">
          <i class="fa-li fa fa-linkedin-square"></i>LinkedIn
        </a>
      </li>
      <li>
        <a href="http://www.flickr.com/photos/juridatenshi/">
          <i class="fa-li fa fa-flickr"></i>Flickr
        </a>
      </li>
    </ul>
  </section>
  <section>
    <h2>Site</h2>
    <p>This site was developed using
      <a href="http://middlemanapp.com/">Middleman</a>,
      <a href="http://pages.github.com/">GitHub Pages</a>, and
      <a href="https://github.com/neo/middleman-gh-pages">Middleman GitHub Pages</a>.
      <a href="http://fontawesome.io">Font Awesome by Dave Gandy</a>.
    </p>
    <p>If you find any issues with the site, please file an
      <%= link_to "issue", "https://github.com/gregburek/gregburek.com/issues" %> or
      <%= link_to "pull request", "https://github.com/gregburek/gregburek.com/pulls" %>
    </p>
    <p>
      <%= link_to "<i class=\"fa fa-rss\"></i> rss feed", "/blog/feed.xml" %>
    </p>
  </section>
</article>

