---
title: About
---

<article>
  <h1>About</h1>
  <section>
    <%= partial "partials/bio" %>
  </section>
  <section>
    <ul class="social fa-ul">
      <li>
      <a href="mailto:greg@gregburek.com">
        <i class="fa-li fa fa-envelope"></i>Email
      </a>
      </li>
      <li>
        <a href="https://twitter.com/gregburek">
          <i class="fa-li fa fa-twitter"></i>Twitter
        </a>
      </li>
      <li>
        <a href="https://github.com/gregburek">
          <i class="fa-li fa fa-github"></i>GitHub
        </a>
      </li>
      <li>
        <a href="http://lanyrd.com/profile/gregburek/">
          <i class="fa-li fa fa-map-marker"></i>Lanyrd
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/gregburek">
          <i class="fa-li fa fa-linkedin"></i>LinkedIn
        </a>
      </li>
      <li>
        <a href="http://www.flickr.com/photos/gregburek/">
          <i class="fa-li fa fa-flickr"></i>Flickr
        </a>
      </li>
      <li>
        <%= link_to "<i class=\"fa-li fa fa-rss\"></i>rss feed", "/blog/feed.xml" %>
      </li>
    </ul>
  </section>
  <section>
    <h2>Site</h2>
    <p>This site was developed using
      <a href="http://juliepagano.com/blog/2013/11/10/site-redesign-using-middleman/">Julie Pagano's Middleman tutorial</a>,
      <a href="http://middlemanapp.com/">Middleman</a>,
      <a href="http://pages.github.com/">GitHub Pages</a>,
      <a href="https://typekit.com">Adobe Typekit</a>, and
      <a href="https://github.com/neo/middleman-gh-pages">Middleman GitHub Pages</a>.
      <a href="http://fontawesome.io">Font Awesome icons by Dave Gandy</a>,
    </p>
    <p>File an
      <%= link_to "issue", "https://github.com/gregburek/gregburek.com/issues" %> or
      <%= link_to "pull request", "https://github.com/gregburek/gregburek.com/pulls" %>
    </p>
  </section>
</article>

